{% liquid
  assign background_color = section.settings.background_color
  assign background_color_main = section.settings.background_color_main
%}

{% style %}
  .order_items_container::-webkit-scrollbar {
    height: 4px;
  }
  /* Track */
  .order_items_container::-webkit-scrollbar-track {
    background: #ECECEC;
    height: 4px;
  }
  /* Handle */
  .order_items_container::-webkit-scrollbar-thumb {
    background: #000;
    width: 10px;
  }
  /* Handle on hover */
  .order_items_container::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
{% endstyle %}
<div class="relative">
  {% render 'account-banner' %}
  <div style="background-color: {{ background_color_main }};">
    <div class="container relative pb-10 | lg:pb-20 lg:pt-12 lg:flex lg:flex-row lg:justify-between | xl:pb-32">
      {% comment %} account sidebar {% endcomment %}
      <div class="lg:w-1/4 lg:mr-16">
        {% render 'account-sidebar' %}
      </div>

      {% comment %} order {% endcomment %}
      <div class="w-full | lg:w-4/5">
        <div class="flex flex-col">
          {% render 'btn', href: '/account', style: 'blue', copy: 'account.account-area.back-to-account', width: 'large', additional_class: 'flex mb-10 text-sm' %}

          {%- if order.cancelled -%}
          {%- assign cancelled_at = order.cancelled_at | time_tag: format: "%d/%m/%Y" -%}
            <div class="py-5">
              <p class="text-dark-blue font-walsheim-bold text-xl mb-5">
                {{ 'account.order.cancelled_html' | t }}
              </p>
              <p class="text-dark-blue font-walsheim text-sm">
                {{ 'account.order.cancelled_reason' | t }}: 
                <span class="ml-2 font-walsheim-bold underline">
                  {{ order.cancel_reason_label }}
                </span>
              </p>
            </div>
          {%- endif -%}
          <div class="lg:flex lg:items-start">
            <div class="flex flex-col | lg:w-3/4 lg:mr-3">
              {% comment %} order details {% endcomment %}
              <div class="lg:bg-[#F8F8F8] lg:pt-7 lg:pl-7 lg:pr-14 lg:pb-8">
                <h2 class="text-dark-blue font-walsheim-bold text-sm mb-10">
                  {{ 'account.order.products' | t }}
                </h2>
          
                <div class="order_items_container flex flex-row items-start overflow-x-auto | lg:overflow-x-hidden lg:flex-wrap lg:bg-white lg:pt-10 lg:px-6">
                  {% comment %} items {% endcomment %}
                  {% for line_item in order.line_items %}
                    <div class="flex flex-col justify-between flex-170px m-3 | lg:flex-auto lg:max-w-[180px]">
                      <div class=" aspec">
                        {% render 'img', type: 'img', img: line_item.image, class: 'object-contain aspect-square w-full max-w-[180px] border border-black border-opacity-50 p-3' %}
                      </div>
                      <div class="mt-10 pt-9 pb-12 border-t border-black border-opacity-25 flex flex-col">
                        <h3 class="text-dark-blue text-xs font-walsheim-bold">{{ line_item.title }}</h3>
                        <p class="text-xs text-dark-blue font-walsheim-medium mt-2">{{ 'account.order.item' | t }}: {{ line_item.id }}</p>
                        <p class="text-xs text-dark-blue font-walsheim-medium mt-2">{{ 'account.order.price' | t }}: {{ line_item.price | money }}</p>
                      </div>
                    </div>
                  {% endfor %}
                </div>
              </div>
              {% comment %} order information {% endcomment %}
              <div class="border-t border-black border-opacity-25 mt-8 pt-5">
                <div>
                  <h2 class="text-sm text-dark-blue font-walsheim-bold mb-9">{{ 'account.order.order-information-title' | t }}</h2>
                  <div class="flex flex-col">
                    <p class="text-xs font-walsheim text-dark-blue flex items-center">
                      {{ 'account.order.order-number' | t }}:
                      <span class="ml-2">
                        {{ order.order_number }}
                      </span>
                    </p>
                    <p class="text-xs font-walsheim text-dark-blue flex items-center mt-2">
                      {{ 'account.order.order-status' | t }}:
                      <span class="ml-2">
                        {{ order.fulfillment_status_label }}
                      </span>
                    </p>
                    <p class="text-xs font-walsheim text-dark-blue flex items-center mt-2">
                      {{ 'account.order.date-ordered' | t }}:
                      <span class="ml-2">
                        {{ order.created_at | date: "%m %b %Y" }}
                      </span>
                    </p>
                  </div>
                </div>
              </div>
              {% comment %} addresses / payment method {% endcomment %}
              <div class="border-t border-black border-opacity-25 mt-6 pt-8">
                <div class="grid grid-cols-2 | lg:grid-cols-3">
                  <div class="">
                    <h3 class="text-dark-blue font-walsheim mb-4 text-xs">{{ 'account.order.billing-address' | t }}</h3>
                    <div class="text-xs text-dark-blue font-walsheim">
                      {{ order.billing_address | format_address }}
                    </div>
                  </div>
                  <div class="ml-5"> 
                    <h3 class="text-dark-blue font-walsheim mb-4 text-xs">{{ 'account.order.delivery-address' | t }}</h3>
                    <div class="text-xs text-dark-blue font-walsheim">
                      {{ order.shipping_address | format_address }}
                    </div>
                  </div>
                  {% if order.payment_details != blank %}
                    <div class="ml-5">
                      <h3 class="text-dark-blue font-walsheim mb-4 text-xs">{{ 'account.order.payment-method' | t }}</h3>
                      <p class="text-xs text-dark-blue font-walsheim">{{ order.payment_details.credit_card_company }}</p>
                      <p class="text-xs text-dark-blue font-walsheim">{{ 'account.order.amount' | t }}: {{ order.total_price | money }}</p>
                    </div>
                  {% endif %}
                </div>
                {% if order.payment_gateway_names  %}
                  <div class="mt-5 ml-5">
                    <h3 class="text-dark-blue font-walsheim text-xs mb-4">{{ 'account.order.delivery-method' | t }}</h3>
                    <div class="text-dark-blue font-walsheim text-xs">
                      {{ order.payment_gateway_names }}
                    </div>
                  </div>
                {% endif %}
              </div>
            </div>
            {% comment %} order total desktop {% endcomment %}
            <div class="bg-[#F8F8F8] px-6 py-16 hidden | lg:ml-3 lg:block lg:w-1/4">
              <h3 class="font-walsheim text-dark-blue text-xs mb-4 pb-9 border-b border-black border-opacity-25">{{ 'account.order.order-total' | t }}</h3>
              <div class="font-walsheim text-dark-blue text-xs flex flex-col mb-3 border-b border-black border-opacity-25 pb-3">
                <p class="w-full flex items-center justify-between">
                  {{ 'account.order.subtotal' | t }}:
                  <span>{{ order.subtotal_price | money }}</span>
                </p>
                <p class="w-full flex items-center justify-between mt-1">
                  {{ 'account.order.discounts' | t }}:
                  <span>{{ order.total_discounts | money  }}</span>
                </p>
                <p class="w-full flex items-center justify-between mt-1">
                  {{ 'account.order.shipping' | t }}:
                  <span>{{ order.shipping_price | money }}</span>
                </p>
                {% if order.total_tax %}
                  <p class="w-full flex items-center justify-between mt-1">
                    {{ 'account.order.vat' | t }}: 
                    <span>{{ order.total_tax | money }}</span>
                  </p>
                {% endif %}
              </div>
              <p class="font-walsheim text-xs text-dark-blue w-full flex justify-between items-center">
                {{ 'account.order.order-total' | t }}:
                <span>{{ order.total_price | money }}</span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    {% comment %} order total mobile {% endcomment %}
    <div class="bg-white px-4 py-7 | lg:hidden">
      <div class="bg-[#F8F8F8] px-6 py-16">
        <h3 class="font-walsheim text-dark-blue text-xs mb-4 pb-9 border-b border-black border-opacity-25">{{ 'account.order.order-total' | t }}</h3>
        <div class="font-walsheim text-dark-blue text-xs flex flex-col mb-3 border-b border-black border-opacity-25 pb-3">
          <p class="w-full flex items-center justify-between mt-1">
            {{ 'account.order.subtotal' | t }}:
            <span>{{ order.subtotal_price | money }}</span>
          </p>
          <p class="w-full flex items-center justify-between mt-1">
            {{ 'account.order.discounts' | t }}:
            <span>{{ order.total_discounts | money  }}</span>
          </p>
          <p class="w-full flex items-center justify-between mt-1">
            {{ 'account.order.shipping' | t }}:
            <span>{{ order.shipping_price | money }}</span>
          </p>
          {% if order.total_tax %}
            <p class="w-full flex items-center justify-between mt-1">
              {{ 'account.order.vat' | t }}: 
              <span>{{ order.total_tax | money }}</span>
            </p>
          {% endif %}
        </div>
        <p class="font-walsheim text-xs text-dark-blue w-full flex justify-between items-center">
          {{ 'account.order.order-total' | t }}:
          <span>{{ order.total_price | money }}</span>
        </p>
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Order",
    "settings": [
      {
        "type": "color",
        "id": "background_color",
        "label": "Background color (header)",
        "default": "#F5C08D"
      }, {
        "type": "color",
        "id": "background_color_main",
        "label": "Background color (main)",
        "default": "#F4F4F4"
      }, {
        "id": "show_users_name",
        "type": "checkbox",
        "label": "Show users name?",
        "default": true
      }
    ]
  }
{% endschema %}