{% liquid 
  assign background_color_main = section.settings.background_color_main
  assign background_color = section.settings.background_color
  assign text_color = section.settings.text_color
  assign title = section.settings.title 
%}

  <div class="customer_reset relative">
    {% comment %} Banner {% endcomment %}
    <div class="pt-32 pb-14 | md:pt-44 md:pb-20" style="background-color: {{ background_color }}; box-shadow: 2px 5px 12px -3px rgba(0,0,0,0.75);">
      <h1 class="text-center text-2xl font-walsheim-bold uppercase" style="color: {{ text_color }}">
        {% if title != blank %}
          {{ title }}
        {% endif %}
      </h1>
    </div>

    <div style="background-color: {{ background_color_main }}">
      <div class="container relative py-16">
          {%- form 'reset_customer_password', class: 'max-w-xl mx-auto' -%}
            {{ form.errors | default_errors }}
            <fieldset>
            <input
              
              placeholder="Password"
              type="password"
              name="customer[password]"
              id="password"
              class="w-full text-sm my-2 text-dark-blue opacity-100 outline-none py-[10px] pl-3 font-walsheim-medium rounded border border-black border-opacity-25 | placeholder:bold placeholder:text-dark-blue"
          
            >
            </fieldset>
            <fieldset>
            <input
              required
              type="password"
              placeholder="Confirm Password"
              name="customer[password_confirmation]"
              id="password_confirmation"
              class="w-full text-sm my-2 text-dark-blue opacity-100 outline-none py-[10px] pl-3 font-walsheim-medium rounded border border-black border-opacity-25 | placeholder:bold placeholder:text-dark-blue"
            >
            </fieldset>
            <button class="btn relative font-walsheim-medium flex items-center uppercase rounded py-3 transition-all duration-200 justify-center text-sm blue w-52 mx-auto mt-5 ">Reset password</button>
          {%- endform -%}
        </div>
      </div>
    </div>


{% schema %}
  {
    "name": "Login",
    "settings": [
      {
        "type": "color",
        "label": "Background color (banner)",
        "id": "background_color",
        "default": "#021D49"
      }, {
        "type": "color",
        "label": "Text color (banner)",
        "id": "text_color",
        "default": "#FFF"
      }, {
        "type": "text",
        "label": "Title",
        "id": "title",
        "default": "Reset your password"
      }, {
        "type": "color",
        "id": "background_color_main",
        "label": "Background color (main form)",
        "default": "#F4F4F4"
      }
    ]
  }
{% endschema %}